/* 
    Document   : easytab.css
    Created on : 22 oct. 2012, 09:36:26
    Author     : raip
    Description:
        Purpose of the stylesheet follows.
*/
/*.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { background: #eee; border: solid 1px #999;font-size: 14px;  display: block;  outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 0px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { padding: 0px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px;width: 400px; }
.tab li {margin: 0; padding: 0;}*/

/* Styles for Tabs on Side */

.tab-side-container { 
    background: transparent;
    height: 252px;    
    width: 100%;
    min-width: 750px; 
    color: #fff;    
    /*-webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;     */
}
.tab-side-container ul { 
    height: 250; 
    min-width: 100px;
    width: 10%;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    background: transparent; 
    float: left; 
    /*border-right:solid 4px #FAFAFA;*/
    left: 20px;
    /*-webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;    */
    
}
.tab-side-container ul li { width: 100%; margin: 0; padding: 0; text-align: center; }
.tab-side-container ul li a { display: block; padding: 0; margin: 10px 0;outline: none; color: #fff;cursor: pointer;}
.tab-side-container ul li a:hover { text-decoration: underline; }
.tab-side-container ul li.selected-tab {color: #000; position: relative;font-weight: bold;text-decoration: underline;color : #E89440; }
.tab-side-container ul li:first-child.selected-tab { border-top: none; }
.tab-side-container ul li a.li.selected-tab { font-weight: bold; text-decoration: none; }
/*.tab-side-container .panel-container { background: #fff; padding-top: 5px; padding-left: 120px; }*/
/*.tab-side-container { padding: 0px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px;min-width: 100px;width:10%; border-right: solid 4px #FAFAFA; }
.panel-container { padding: 0px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px;min-width: 745px;width:100%; }*/

.tab-side-container .signup {
    width: 95px;
    position: relative;
    padding: 0px;
    margin: 5px 0 0 0;  
    color: #fff;
    font: bold 12px Arial, Helvetica;
    /*text-transform: uppercase;*/
    text-decoration: none;
    display: inline-block;       
    background-color: #72ce3f;
    background-image: -moz-linear-gradient(#72ce3f, #62bc30);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));    
    background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
    background-image: -o-linear-gradient(#72ce3f, #62bc30);
    background-image: -ms-linear-gradient(#72ce3f, #62bc30);
    background-image: linear-gradient(#72ce3f, #62bc30);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;     
    text-shadow: 0 1px 0 rgba(0,0,0,.3);        
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

.tab-side-container .signup:hover {
    background-color: #62bc30;
    background-image: -moz-linear-gradient(#62bc30, #72ce3f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
    background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
    background-image: -o-linear-gradient(#62bc30, #72ce3f);
    background-image: -ms-linear-gradient(#62bc30, #72ce3f);
    background-image: linear-gradient(#62bc30, #72ce3f); 
}

.tab-side-container .signup:active, #pricing-table .signup:focus {
    background: #62bc30;       
    top: 2px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}
#pricing-table {
    /*margin: 100px auto;*/
    text-align: center;
    width: 100%;
    min-width: 853px; /* total computed width = 156 x 4 + 226 */
    height: 250px;
    /*padding-left: 20px;
    paddinf-top: 5px;*/
}

#pricing-table .plan {
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);        
    background: #fff;      
    border: 1px solid #ddd;
    color: #333;    
    padding: 20px 1% 0px 1%;
    width:14.4%;
    min-width: 100px; /* plan width = 114 + 20 + 20 + 1 + 1 = 156px */  
    height: 228px;/* 228 = 250 -20 -1 -1 */ 
    float: left;
    /*position: relative;*/
}
.alerte {        
    width: 12px;
    height:12px;
    display: inline-block ;
    margin-right: 5px;
    font-weight: bold;
}
#pricing-table #most-popular {
    z-index: 2;
    top: -13px;
    border-width: 3px;
    padding: 30px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
    /*-moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; */       
}

#pricing-table .plan:nth-child(4) {
    /*-moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;  */      
}

/* --------------- */	

#pricing-table h3 {
    font-size: 15px;
   
    color: #000;
    font-weight: normal;
    /*padding: 20px;*/
    padding: 20px 1% 10px 1%;
    /*width: 14%;
    min-width: 100px;*/
    /*padding-bottom: 10px;*/
    /*margin: -20px -20px 40px -20px;*/
    margin: -20px -7% 40px -7%;
    background-color: #ddd;/*eee*/
    background-image: -moz-linear-gradient(#fff,#ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));    
    background-image: -webkit-linear-gradient(#fff, #ddd);
    background-image: -o-linear-gradient(#fff, #ddd);
    background-image: -ms-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
}

#pricing-table #most-popular h3 {
    background-color: #ddd;
    background-image: -moz-linear-gradient(#eee,#ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: -o-linear-gradient(#eee, #ddd);
    background-image: -ms-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    margin-top: -30px;
    padding-top: 30px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; 		
}

#pricing-table .plan:nth-child(1) h3 {
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0; 
}

#pricing-table .plan:nth-child(4) h3 {
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}	

#pricing-table h3 span {
    cursor: help;
    display: block;
    font: bold 15px/50px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 50px;
    width: 50px;
    margin: 0px auto -50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 5px 0;
}

/* --------------- */
	
#pricing-table .signup {
    position: relative;
    padding: 0px 20px;
    margin: 0px 0 0 0;  
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;       
    background-color: #72ce3f;
    background-image: -moz-linear-gradient(#72ce3f, #62bc30);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));    
    background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
    background-image: -o-linear-gradient(#72ce3f, #62bc30);
    background-image: -ms-linear-gradient(#72ce3f, #62bc30);
    background-image: linear-gradient(#72ce3f, #62bc30);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;     
    text-shadow: 0 1px 0 rgba(0,0,0,.3);        
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
    background-color: #62bc30;
    background-image: -moz-linear-gradient(#62bc30, #72ce3f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
    background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
    background-image: -o-linear-gradient(#62bc30, #72ce3f);
    background-image: -ms-linear-gradient(#62bc30, #72ce3f);
    background-image: linear-gradient(#62bc30, #72ce3f); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
    background: #62bc30;       
    top: 2px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

