/*html { background:url(images/bg_body.jpg) repeat 0 0;}
html * { margin:0; padding:0;}
body {} 
*/
#mainMenu {  width:980px;  height:1350px; margin:0 auto; position:relative; position:relative; }
a { outline:0 none;}
.clearPrev {clear: both;}

#treeMenu { color: #fff; position:absolute; right:auto; left:5px; top:78px; width:200px;  font:normal 14px 'Segoe UI', Helvetica, Arial, sans-serif; }
#treeMenu h2 { font:bold 20px 'Segoe UI', Helvetica, Arial, sans-serif; color:#454545; margin-bottom:12px;}
#treeMenu ul { list-style:none;}
#treeMenu ul li {overflow:hidden; background:#acacac url(images/treeTabBg.gif) repeat-x 0 0; border:solid 1px #fff; margin:0px 0; -moz-border-radius:3px;  -webkit-border-radius:3px;  border-radius:3px;}
#treeMenu ul li span { display:inline-block; float:right; width:30px; height:30px; background:url(images/treeSplit.png) no-repeat 100% 0;  cursor:pointer;}
#treeMenu ul li a.entete { color:#458fff;font-weight: bold; font-size:16px; padding:5px 10px; display:inline-block;  text-decoration:none; width:142px; float:left; }
#treeMenu ul li span.opened { background-position:100% -61px;}

        #treeMenu ul li div.mainDiv { clear:both; height:auto; }
        #treeMenu ul li div.imageMenu { float:right; display:inline; width:24px; height:100%; margin: 0px; padding: 0px; padding-right: 2px;}
	#treeMenu ul li li { background:none; border:0; margin:0; padding-left:2px; border-bottom:solid 1px #fff;  border-top:solid 1px #eee; clear:both;}
	#treeMenu ul li li a.ligne { color:#fff; font-size:12px; padding:5px 0; float:left;  width:auto; }
	#treeMenu ul li li a.ligne:hover { text-decoration:underline; color:#333;}
	#treeMenu ul li li span { float:left; display:inline; width:15px; height:24px;  background-position:-5px -263px; cursor:default; margin-left: -2px;}
       /* #treeMenu ul li li div.imageMenu { float:right; display:inline; width:24px; height:24px;}*/
	#treeMenu ul li li span.closed { background-position:-5px -131px; cursor:pointer;}
        #treeMenu ul li li span.isSelected { background-color: #86cd56;}
	#treeMenu ul li li span.closed.opened { background-position:-5px -197px; }

		#treeMenu ul li li li { border:0;}
#treeMenu ul li ul li {                
    background:url('images/title-bg.png') left;
    color: #FFFFFF;
    border-color: #C6D5E1;
}